---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import NewsGrid from '../components/NewsGrid.astro';
import LiveScores from '../components/LiveScores.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <Header />
  <main>
    <Hero />
    <LiveScores />
    <NewsGrid />
  </main>
  <Footer />
</Layout>
